// GLOBAL
html {
    font-size: 16px;
}
body {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    // background: #F8F7F7;
    background: url("../assets/desk2.svg");
    width: 100vw;
    height: 100vh;
}

.orange {
    color: orange
}
.green {
    color: green;
}
h1 {
    font-family: 'Poppins', sans-serif;
}